 <div class="filemgr-sidebar-body">
     <div class="pd-t-20 pd-b-10 pd-x-10">
         <label class="tx-sans tx-uppercase tx-medium tx-10 tx-spacing-1 tx-color-03 pd-l-10">My Drive</label>
         <nav class="nav nav-sidebar tx-13">
            <% /* locations.map(lc => { %>
                <a href="/index/<%= lc._id %>" id="<%= lc._id %>" class="nav-link">
                    <i data-feather="folder"></i>
                    <span><%= lc.name %></span><span style="float: right;" id="<%= lc._id %>">X</span>
                </a>
            <% }); */%>
         </nav>
     </div>

     <!-- <div class="pd-10">
     <label class="tx-sans tx-uppercase tx-medium tx-10 tx-spacing-1 tx-color-03 pd-l-10">File Library</label>
     <nav class="nav nav-sidebar tx-13">
       <a href="" class="nav-link"><i data-feather="file"></i> <span>Documents</span></a>
       <a href="" class="nav-link"><i data-feather="image"></i> <span>Images</span></a>
       <a href="" class="nav-link"><i data-feather="video"></i> <span>Videos</span></a>
       <a href="" class="nav-link"><i data-feather="music"></i> <span>Audio</span></a>
       <a href="" class="nav-link"><i data-feather="package"></i> <span>Zip Files</span></a>
     </nav>
   </div> -->
 </div>