<% include partials/header %>
<h1>this is the home page</h1>
    
<li><a href="/signup">Sign up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>
<% include partials/footer %>